@import "mocha.css";

* {
    font-family: "CaskaydiaMono NF";
    font-size: 13px;
    font-weight: bold;

    transition-property: background-color;
    transition-duration: 0.1s;
}

window#waybar {
    background-color: transparent;
}

window > box {
    padding: 0 2px;
    margin: 6px 6px 0px 6px;
    background-color: @crust;
    border-radius: 4px;
}

#window {
    margin: 8px;
    padding-left: 8px;
    padding-right: 8px;
    color: @subtext1;
}

button {
    box-shadow: none;
    border: none;
}

button:hover {
    color: @mauve;
    background: transparent;
}

#workspaces button {
    padding: 0 4px;
}

#workspaces button.active {
    color: @mauve;
}

#workspaces button.urgent {
    color: @red;
}

#pulseaudio,
#bluetooth,
#clock,
#tray,
#network {
    margin: 2px 4px;
    padding: 0 4px;
}

#clock {
    color: @maroon;
}

#pulseaudio {
    color: @blue;
}

#network {
    color: @flamingo;
}

#bluetooth {
    color: @yellow;
}
